.catalog{
    margin-top: 120px;
}

.catalog_list{
    display: flex;
    flex-wrap: wrap;
    gap: 82px;
}

.catalog>h1{
    margin-top: 136px;
    margin-bottom: 96px;
}

.catalog_footer{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 136px;
}

.settings{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
}

input{
    padding: 10px 45px;
    border: none;
    outline: none;
    font-family: 'Poppins';
    color: #030303;
}

select{
    padding: 10px 45px;
    border: none;
    outline: none;
    font-family: 'Poppins';
    color: #030303;
}